//Portfolio colors
//Text
$headings: #000000;
$text: #000000;
$footerText: #000000;
$highlightText: #000000;
$hoverText: #000000;
$hoverTextShadow: #000000;

//Backgrounds
$trueBackground: #000000;
$forwardBackground: #000000;

//Miscellaneous colorings


//--------
* {
  font-size: 12px;
  font-family: sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  font-size: 2rem;
}



//.navLinksContainerMobile {
//  display: none;
//}



//@media screen and (max-width: 750px) {
//  .navLinksContainerMobile {
//    display: flex;
//  }
//
//  .navLinksContainerDesktop {
//    display: none;
//  }
//
//}