//Portfolio colors
//Text
$headings: #000000;
$headingsShadow: #000000;
$text: #000000;
$footerText: #000000;
$highlightText: #000000;
$hoverText: #000000;
$hoverTextShadow: #000000;

//Backgrounds
$trueBackground: #c0c0c0;
$forwardBackground: #a2a2a2;
$navbarWings: #e10606;
$navbarHover: #adadad;
$navbarHoverShadow: #575757;
$navbarClick: #6142a4;

//Miscellaneous colorings


//--------
* {
  font-size: 12px;
  font-family: sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  font-size: 2rem;
}



@media screen and (max-width: 750px) {

}